<nav class="grid nav-container">
    <img class="movil logo" src="img/logo-desktop.svg" alt="Logo Gifos">
    <img class="menu-logo open" src="img/burger.svg" alt="Burger logo">
    <img class="menu-logo close" src="img/button-close.svg" alt="Close logo">
    <!-- <img class="movil logo" src="img/logo-desktop-modo-noc.svg" alt="Logo Gifos">
    <img class="menu-logo open" src="img/burger-dark.svg" alt="Burger logo">
    <img class="menu-logo close" src="img/button-close-dark.svg" alt="Close logo"> -->
    <ul class="menu animate">
        <li id="mode">MODO NOCTURNO
             <hr>
        </li>
        <li id="favorites">FAVORITOS
            <hr>
         </li>
        <li id="my-gif">MIS GIFOS
            <hr>
        </li>
        <li id="plus">
            <i class="icon icon-plus">&nbsp;</i>
        </li>
    </ul>
</nav>