.carrousel-section p{
    @extend %roboto-regular;
}

.carrousel{
    @include size(90%, 200px);
    margin: 8% auto;
    overflow-x: scroll;
    display: flex;
}

.right, .left{
    display: none;
    width: 10%;
    margin-top: 3%;
    margin-bottom: 8%;
    button{
        height: 40px;
        width: 40px;
        display: block;
        border: solid 2px $primary;
        cursor: pointer;
        &:hover{
            background-color: $primary;
            i{
                background-color: $white;
            }
        }
    }
}

.gif-carrousel{
    @include size(243px, 187px);
    margin-right: 8%;
    position: relative;
    img {
        @include size(243px, 187px);
    }
    .car-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: $primary, $alpha: 0.7);
    }
}

/*dark mode styling*/

.right, .left{
    .dark{
        background-color: rgba($color: $black-dark, $alpha: 1) !important;
        border-color: $white !important;
        &:hover{
            border-color: $black !important;
            background-color: $white !important;
        }
        &:hover .icon-left,
        &:hover .icon-right
        {
            background-color: $black !important;
        }
        .icon-left, .icon-right{
            background-color: $white !important;
        }
    }
}

/* Desktop mode */

@media (min-width:550px){
    .container-car{
        display: flex;
    }
    
    .right, .left{
        display: flex;
    }
    
    .right button{
        margin-top: 85%;
        margin-left: 55%;
    }
    
    .left button{
        margin-top: 85%;
        margin-left: 15%;
    }

    .carrousel{
        margin-top: 3%;
        margin-bottom: 8%;
        @include size(80%, 276px);
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        overflow-x: none;
    }

    .gif-carrousel{
        margin-right: 6%;
        @include size(357px , 275px );
        img, .car-hover {
            @include size(357px , 275px );
        } 
        .car-hover {
            display: block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            &:hover{
                opacity: 1;
            }
            div.buttons-car {
                text-align: end;
                margin-right: 2%;
                margin-top: 2%;
                .button-t {
                    cursor: pointer;
                    background-color: $white;
                    border-radius: 6px;
                    opacity: 0.8;
                    border: ridge 2px $primary;
                    margin: 0 1%;
                    &:hover{
                        opacity: 1;
                        box-shadow: 1px 1px 2px 2px rgba($color: $black-ligth, $alpha: 0.8);
                    }
                }
            }
            div.car-info {
                position: absolute;
                color: $white;
                text-align: start;
                bottom: 15%;
                width: 100%;
                opacity: 1;
                p{
                    text-align: left;
                    padding-left: 7%;
                }
                z-index: 500;
            }
        }
    }
}