.fav-section{
    @extend %main-margin;
}

.fav-items{
    margin-top: 8%;
    grid-template: auto / repeat(2, 47%);
    // grid-template-columns: repeat(2, 47%);
    grid-column-gap: 6%;
    @extend %mx-center;
}

.fav-item{
    margin-top: 13%;
    @include size(100%, 120px);
    img{
        @include size(100%, 120px);
    }
}


.ver-mas{
    width: 100%;
    margin-top: 15%;
}

/* Desktop mode */

@media (min-width:550px){
    .fav-items{
        grid-template: auto / repeat(4, 24%);
        // grid-template-columns: repeat(4, 24%);
        grid-column-gap: 2%;
        margin-top: 2%;
    }

    .fav-item{
        margin-top: 8%;
        position: relative;
        @include size(100%, 200px);
        img, div{
            @include size(100%, 200px);
        }
        div{
            position: absolute;
            top: 0;
            background-color: rgba($color: $primary, $alpha: 1);
            opacity: 0;
            &:hover{
                opacity: 0.7;
            }
        }
    }

    .ver-mas{
        margin-top: 5%;
        button{
            width: 30%;
            justify-self: center;
            background-color: $white;
            color: $primary;
            padding: 1% 3%;
            border-radius: 25px;
            border: solid 1px $primary;
            cursor: pointer;
            &:hover{
                background-color: $primary;
                color: $white;
            }
        }   
    }
}